.chapter(data-title='Programmable SMS')
  .step(data-title='Welcome!', data-file='README.MD')
    h2 Welcome to Programmable SMS

    p This is a comprehensive tutorial to teach you to use RingCentral SMS in a programmable way.

    p The tutorial's navigation controls are located above this text. Use <i class="fa fa-fw fa-play"></i> to move to the next step of the tutorial. Use <i class="fa fa-fw fa-play fa-rotate-180"></i> to move to the previous step of the tutorial (if there is one). Use <i class="fa fa-fw fa-list"></i> to see an overview of all the steps in the tutorial.

  .step(data-title='Environment Variables', data-file='.env.sample')
    :markdown
      ## Environment Variables

      The first file we'll look at is `.env.sample`. This contains all the environment variables we used in this tutorial. You need to follow its sample to create `.env` file which contains real RingCentral credentials.

      Most of the environment variables are quite self-explanatory except the last one: `RINGCENTRAL_RECEIVER`. It means the number to receive SMS. You can set it to your own mobile phone number so that you can confirm the receipt of SMS.

  .step(data-title='Send SMS - 1', data-file='send-sms.js')
    :markdown
      ## Send SMS - 1

      We create a `send-sms.js` for SMS sending.

  .step(data-title='Send SMS - 2', data-file='send-sms.js', data-highlight='2-4')
    :markdown
      ## Send SMS - 2

      Load environment variables from `.env` file.

  .step(data-title='Send SMS - 3', data-file='send-sms.js', data-highlight='6-10')
    :markdown
      ## Send SMS - 3

      Initialize RingCentral SDK
