.chapter(data-title='Programmable SMS')
  .step(data-title='Welcome!', data-file='../README.MD')
    h2 Welcome to Programmable SMS

    p This is a comprehensive tutorial to teach you to use RingCentral SMS in a programmable way.

    p The tutorial's navigation controls are located above this text. Use <i class="fa fa-fw fa-play"></i> to move to the next step of the tutorial. Use <i class="fa fa-fw fa-play fa-rotate-180"></i> to move to the previous step of the tutorial (if there is one). Use <i class="fa fa-fw fa-list"></i> to see an overview of all the steps in the tutorial.

  .step(data-title='Environment Variables', data-file='../.env.sample')
    :markdown
      ## Environment Variables

      The first file we'll look at is `.env.sample`. This contains all the environment variables we used in this tutorial. You need to follow its sample to create `.env` file which contains real RingCentral credentials.

      Most of the environment variables are quite self-explanatory except the last one: `RINGCENTRAL_RECEIVER`. It means the number to receive SMS. You can set it to your own mobile phone number so that you can confirm the receipt of SMS.

.chapter(data-title='Send SMS')
  .step(data-title='Send SMS - 1', data-file='../send-sms.js')
    :markdown
      ## Send SMS - 1

      ---

      #### Create file `send-sms.js` for SMS sending

  .step(data-title='Send SMS - 2', data-file='../send-sms.js', data-highlight='2-4')
    :markdown
      ## Send SMS - 2

      ---

      #### Load environment variables from `.env` file

  .step(data-title='Send SMS - 3', data-file='../send-sms.js', data-highlight='6-10')
    :markdown
      ## Send SMS - 3

      ---

      #### Initialize RingCentral SDK

  .step(data-title='Send SMS - 4', data-file='../send-sms.js', data-highlight='14-18')
    :markdown
      ## Send SMS - 4

      ---

      #### Login via password

  .step(data-title='Send SMS - 5', data-file='../send-sms.js', data-highlight='19-25')
    :markdown
      ## Send SMS - 5

      ---

      #### Send SMS

  .step(data-title='Send SMS - 6', data-file='../send-sms.js', data-highlight='26-26')
    :markdown
      ## Send SMS - 6

      ---

      #### Print SMS id

.chapter(data-title='Send MMS')
  .step(data-title='Send MMS - 1', data-file='../send-mms.js')
    :markdown
      ## Send MMS - 1

      ---

      #### Create file `send-mms.js` for MMS sending

  .step(data-title='Send MMS - 2', data-file='../send-mms.js', data-highlight='20-20')
    :markdown
      ## Send MMS - 2

      ---

      #### Create a new FormData object

  .step(data-title='Send MMS - 3', data-file='../send-mms.js', data-highlight='21-28')
    :markdown
      ## Send MMS - 3

      ---

      #### Add request body to formData

  .step(data-title='Send MMS - 4', data-file='../send-mms.js', data-highlight='29-29')
    :markdown
      ## Send MMS - 4

      ---

      #### Add an image to formData

  .step(data-title='Send MMS - 5', data-file='../send-mms.js', data-highlight='30-30')
    :markdown
      ## Send MMS - 5

      ---

      #### Send the MMS

      #### You can see that MMS and SMS share the same API endpoint: `/account/~/extension/~/sms`

  .step(data-title='Send MMS - 6', data-file='../send-mms.js', data-highlight='31-31')
    :markdown
      ## Send MMS - 6

      ---

      #### Print the MMS id

.chapter(data-title='How to track delivery status of messages')
  .step(data-title='How to track delivery status of messages - 1', data-file='../track-status.js')
    :markdown
      ## How to track delivery status of messages - 1

      ---

      #### Create file `track-status.js` for message status tracking.

  .step(data-title='How to track delivery status of messages - 2', data-file='../track-status.js', data-highlight='27-29')
    :markdown
      ## How to track delivery status of messages - 2

      ---

      #### If everything goes well, code highlighted on the right will print `Delivered`.

.chapter(data-title='How to retrieve and modify message history')
  .step(data-title='How to retrieve and modify message history - 1', data-file='../retrieve-modify.js')
    :markdown
      ## How to retrieve and modify message history - 1

      ---

      #### Create file `retrieve-modify.js` for retrieving and modifying message history.

  .step(data-title='How to retrieve and modify message history - 2', data-file='../retrieve-modify.js', data-highlight='19-22')
    :markdown
      ## How to retrieve and modify message history - 2

      ---

      #### Get the list of messages.

  .step(data-title='How to retrieve and modify message history - 3', data-file='../retrieve-modify.js', data-highlight='20-20')
    :markdown
      ## How to retrieve and modify message history - 3

      ---

      #### Here we set the parameter `dateFrom`, if we omit it, its value will by default be set to 24 hours ago.

  .step(data-title='How to retrieve and modify message history - 4', data-file='../retrieve-modify.js', data-highlight='25-27')
    :markdown
      ## How to retrieve and modify message history - 4

      ---

      #### Update the read status of a message to "Read".


  .step(data-title='How to retrieve and modify message history - 5', data-file='../retrieve-modify.js', data-highlight='31-33')
    :markdown
      ## How to retrieve and modify message history - 5

      ---

      #### Delete a message

.chapter(data-title='How to receive and reply to SMS messages')
  .step(data-title='How to receive and reply to SMS messages - 1', data-file='../receive-reply.js')
    :markdown
      ## How to receive and reply to SMS messages - 1

      ---

      #### Create file `receive-reply.js` for receiving and replying messages.
